<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap CSS link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500;1,600;1,800&family=Urbanist:wght@900&display=swap"
      rel="stylesheet"
    />
  </head>
  <!-- access Plotly content delivery network (CDN) charting library -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <body class="bg-body-secondary"
  style="font-family: 'Montserrat', sans-serif">
    <div class="has-bg-img">
        
        <div class="bg-img" style="background-image: url(/static/banner.jpg); background-repeat: no-repeat; background-size: cover; height: 40vh; max-width: 100vw;">
        <div class="d-flex justify-content-end">
           <a class="btn btn-outline-light float-right m-4" href="{{ url_for('dashboard') }}">Admin</a>         
        </div>

        <h1 class="text-center text-warning mt-3 text-uppercase" style="font-family: 'Urbanist', sans-serif;">
          Bankside Rakaia Motorkhana Mavens
        </h1>
        <p class="text-center text-warning fs-3 mt-3 text-uppercase fw-bold" style="font-family: 'Montserrat', sans-serif;">
          Competition event
        </p>
      
    </div>
    <nav class="navbar bg-dark navbar-expand-lg fw-semibold" data-bs-theme="dark">
      <div class="container-fluid"><ul class="navbar-nav">
      
        <li class="nav-item">
          <a
            class="nav-link active"
            href="{{ url_for('home') }}"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="{{ url_for('listdrivers') }}"
            >Drivers</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="{{ url_for('listcourses') }}"
            >Courses</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="{{ url_for('overallresults') }}"
            >Results</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="{{ url_for('showgraph') }}"
            >Graph</a
          >
        </li>
        
      </ul></div>
      
    </nav> 
    <div class="container">    <nav
      aria-label="breadcrumb"
      class="mt-5"
    >
      <ol class="breadcrumb link-secondary">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
    
        <li
          class="breadcrumb-item active"
          aria-current="page"
        >
          Graph
        </li>
      </ol>
    </nav>
        <h3>Graph</h3>
        <div
          id="myHBarPlot"
          style="width: 100%; max-width: 80vw;"
          class="d-flex justify-content-center align-items-center"
        ></div></div>

        <footer class="footer">
          <div class="container text-center mt-5">
              <p>&copy; 2023 BRMM. All rights reserved.</p>
          </div>
      </footer>


    <script>
      // Note SPACE after each fruit name so gap before horizontal bars
      const value_list = {{ value_list | safe }};
      const name_list = {{ name_list | safe }};
      // REPLACE constants above with passed in variables.
      // Use the '|safe' Jinja filter to mark them as safe (prevents your data being html-escaped). eg,
      // var myList = {{ list_from_py | safe }}

      // Define graph data
      const data = [
        {
          x: value_list,
          y: name_list,
          type: 'bar',
          orientation: 'h',
          marker: { color: 'orange' },
        },
      ]

      // Define graph layout. Excluded a y-axis title as fruit names are self-explanatory.
      const layout = {
        xaxis: { range: [0, 350], title: 'Results' },
        yaxis: {  tickangle: -45 },
        title: 'Top 5 Drivers Overall Results',
        plot_bgcolor: 'rgba(0, 0, 0, 0)',
        paper_bgcolor: 'rgba(0, 0, 0, 0)' 
      }

      // Display using Plotly
      Plotly.newPlot('myHBarPlot', data, layout)
    </script>
  </body>
</html>
